<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Copyright (c) 2014 Jakob Wenzel, Ramon Wirsch.
  ~
  ~ This file is part of RallySoft.
  ~
  ~ RallyeSoft is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ Foobar is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with Foobar.  If not, see <http://www.gnu.org/licenses/>.
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="de.stadtrallye.rallyesoft"
	android:versionCode="10"
	android:versionName="0.3">

	<uses-feature android:glEsVersion="0x00020000" android:required="true" />

	<meta-data android:name="com.google.android.gms.version"
			   android:value="@integer/google_play_services_version" />

	<permission
		android:name="de.stadtrallye.rallyesoft.permission.C2D_MESSAGE"
		android:protectionLevel="signature" />

	<!-- NFC -->
	<uses-permission android:name="android.permission.NFC" />
	<!-- GCM -->
	<uses-permission android:name="de.stadtrallye.rallyesoft.permission.C2D_MESSAGE" />
	<!-- App receives GCM messages. -->
	<uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
	<!-- GCM connects to Google Services. -->
	<uses-permission android:name="android.permission.INTERNET" />
	<!-- GCM requires a Google account before Android 4.0.4 -->
	<!--<uses-permission android:name="android.permission.GET_ACCOUNTS" />-->
	<!-- Keeps the processor from sleeping when a message is received. -->
	<uses-permission android:name="android.permission.WAKE_LOCK" />
	<!-- SD (on API 19 and up, not needed for folders getExternalDir / getExternalCacheDir)-->
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<!-- GPS -->
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<!-- Google Play Services -->
	<!--<uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>-->
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

	<application
		android:name=".RallyeApplication"
		android:allowBackup="true"
		android:icon="@drawable/ic_launcher"
		android:label="@string/app_name"
		android:theme="@style/RallyeTheme" >

		<activity android:name=".MainActivity">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

		<activity android:name=".ConnectionAssistantActivity"
				  android:parentActivityName=".MainActivity"
				  android:theme="@android:style/Theme.Holo.Light.DarkActionBar">
			<meta-data
					android:name="android.support.PARENT_ACTIVITY"
					android:value="de.stadtrallye.rallyesoft.MainActivity" />
			<intent-filter>
				<action android:name="android.nfc.action.NDEF_DISCOVERED"/>
				<category android:name="android.intent.category.DEFAULT"/>
				<data android:mimeType="application/de.stadtrallye.rallyesoft" />
			</intent-filter>
		</activity>

		<activity android:name=".SubmitNewSolutionActivity"
				  android:parentActivityName=".MainActivity"
				  android:theme="@android:style/Theme.Holo.Light.DarkActionBar">
			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value="de.stadtrallye.rallyesoft.MainActivity" />
		</activity>

		<!--<receiver
			android:name="com.google.android.gcm.GCMBroadcastReceiver"
			android:permission="com.google.android.c2dm.permission.SEND" >
			<intent-filter>
				<action android:name="com.google.android.c2dm.intent.RECEIVE" />
				<action android:name="com.google.android.c2dm.intent.REGISTRATION" />
	
				<category android:name="de.stadtrallye.rallyesoft" />
			</intent-filter>
		</receiver>-->

		<receiver
			android:name=".GcmBroadcastReceiver"
			android:permission="com.google.android.c2dm.permission.SEND" >
			<intent-filter>
				<action android:name="com.google.android.c2dm.intent.RECEIVE" />
				<category android:name="de.stadtrallye.rallyesoft" />
			</intent-filter>
		</receiver>

		<service android:name=".services.GcmIntentService" />
		
		<service android:name=".services.UploadService" android:exported="false" />

		<activity
			android:name=".PictureGalleryActivity"
			android:label="@string/image_viewer"
			android:parentActivityName=".MainActivity"
			android:theme="@android:style/Theme.Holo">
			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value=".MainActivity" />
		</activity>

		<activity android:name=".SettingsActivity"
			android:label="@string/settings"
			android:parentActivityName=".MainActivity">
			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value=".MainActivity" />
		</activity>

		<meta-data
			android:name="com.google.android.maps.v2.API_KEY"
			android:value="AIzaSyBvku0REe1MwJStdJ7Aye6NC7bwcSO-TG0"/>

		<meta-data
			android:name="com.google.android.gms.version"
			android:value="@integer/google_play_services_version" />
		
	</application>

</manifest>